:root {
  --color-white: #fff;
  --color-primary-dark: #000;
  --color-secondary-dark: #373435;
  --color-orange: #ff5e00;
}
* {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
a {
  color: var(--color-secondary-dark);
}
a:hover {
  color: var(--color-primary-dark);
}
/* globais */
.text-orange {
  color: var(--color-orange);
}
.text-black {
  color: var(--color-primary-dark);
}
.text-white-hover:hover {
  color: #8a8888 !important;
}
.btn-primary {
  border-radius: 0 10px 0 10px;
  color: var(--color-white) !important;
  background-color: var(--color-primary-dark) !important;
  border-color: var(--color-primary-dark);
}
.btn-primary:hover,
.btn-primary:active {
  border-color: var(--color-orange) !important;
}
.bg-dark {
  background-color: var(--color-primary-dark) !important;
}
.bg-orange {
  background-color: var(--color-orange) !important;
}
.bg-secondary {
  background-color: var(--color-secondary-dark) !important;
}
.padding-section {
  padding-top: 100px;
  padding-bottom: 100px;
}
.table-bordered tr,
.table-bordered td {
  border-color: #8a8888;
}
.text-justify {
  text-align: justify;
}

/* MENU  */
.navbar-dark {
  background-color: var(--color-primary-dark);
}
.navbar-dark .navbar-nav .nav-link {
  color: var(--color-white);
}

/* container-whatsapp */
#container-img {
  width: 100%;
  height: 50px;
  background-image: url("../images/whatsapp-container.png");
  background-position: top;
  background-size: 100%;
  background-repeat: no-repeat;
}

.img-marketing {
  display: block;
  margin: auto;
  width: 100%;
  max-width: 350px;
  border-radius: 0 20px 0 20px;
  -moz-border-radius: 0 20px 0 20px;
  -o-border-radius: 0 20px 0 20px;
}
/* RODAPE  */
footer#rodape ul li a {
  text-decoration: none;
  color: white;
}
footer#rodape ul li a:hover {
  color: #8a8888;
}

.posts {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #cecece;
}

.posts .img-post {
  display: block;
  width: 100%;
  max-width: 350px;
  margin: auto;
}
.img-movies {
  width: 100%;
  max-width: 240px;
}
